.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a,
.nav-toggle {
    color: $link-color;
}

.nav-toggle {
    display: none;
}

a img {
    min-width: 100px;
    min-height: 100px;
}


@media screen and (max-width: 767px) {
    p {
        font-size: $small-font-size;
    }

    .grid-tech {
        grid-template-columns: 100%;

        h1 {
            grid-column: initial;
        }
    }

    .box1:last-child {
        grid-column: initial;
    }

    .center-main {
        flex-direction: column;
    }

    .grid-al {
        grid-template-columns: 100%;
    
        h1 {
            grid-column: initial;
        }
    }

    .aside-tech {
        display: none;
    }

    .grid-p {
        grid-template-columns: 100%;
        justify-items: center;
    
        h1 {
            grid-column: initial;
        }
    }

    .embed-container {
        max-width: 330px;
        max-height: 260px;
    }
}

@media screen and (max-width: 1175px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}
