/* Typografy */

body {
    font-family: $custom-font, sans-serif;
    /* line-height: 1.5rem; */
    background-color: $background-color;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

p,
td,
th,
li,
dd {
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
    color: $link-color;
    font-size: $font-size-p;
    line-height: 1.5;
    font-weight: $font-weight;
} 

.main p {
    color: $link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: $light-font-color;
    font-size: $font-size-title;
    font-weight: $font-weight;
}

.center-main h1 {
    color: $light-font-color;
    font-size: $font-size-title;
}

.center-main div,
h1 {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

.center-main img {
    border: 5px solid;
    border-image: linear-gradient(to right, $font-color 0%, $link-color 50%) 5;
    min-width: 15rem;
    min-height: 15rem;
    font-size: $font-size-title;
}

.nav a {
    color: $link-color;
    font-weight: bold;
}

.footer * {
    color: $link-color;
}

.title *,
p {
    color: $light-font-color;
}

.center-main {
    display: flex;
    justify-content: center;
    color: $link-color;
    max-width: 1300px;
    margin: 0 auto;
}

.center-main p {
    margin-left: 20px;
    margin-right: 20px;
}

.main p a,
li a {
    color: $font-color;
    font-size: $font-size-p;
}

.main {
    margin-left: 7px;
    margin-right: 7px;
}


.fab {
    padding: 5px;
    font-size: $font-size-icon;
}

div a {
    color: $light-font-color;
    font-size: $font-size-p;
    text-decoration: none;
}

.box1 {
    background-color: $dark-color;
    border-image: linear-gradient(to right, $dark-font-color 0%, $light-color-dark 50%) 5;

    &:hover {
        border-image: linear-gradient(to right, $light-color-dark 0%, $dark-font-color 50%) 5;
    }

    a {
        color: $link-color-dark;
    }

}

.footer {
    border-top: 1px solid;
    border-image: linear-gradient(to right, $dark-font-color 0%, $light-color-dark 50%) 5;

    * {
        color: $font-color;
    }
}

.box2 {
    font-weight: bold;
}
