// Background  Text
$background-color: #15171e;
$font-color: #0074e0;
$light-font-color: rgb(0, 132, 255);
$pre-code-color: #b3c8ea;

// Font
$links-size: 2rem;
$custom-font: 'Raleway';
$link-color: #4ba;

