// Background  Text
$background-color: #15171e;
$font-color: #0074e0;
$light-font-color: rgb(0, 132, 255);
$pre-code-color: #b3c8ea;

// Font
$links-size: 2rem;
$custom-font: 'Raleway';
$link-color: #4ba;
$font-size-p: 1.5rem;
$font-size-title: 3rem;
$small-font-size: 1.5rem;
$font-weight: 600;


// color - tech
$dark-color: rgb(5, 5, 5);
